page-cambiar-nombre {
    img {
        border-radius: 500px;
        height: 250px;
        width: 300px;
        position: relative;
        align-content: center;
        left:4%;
    }

    

    .button-round-md {
        position: relative;
        left: 27%;
    }


}
